<div class="fixed" id="menu">
  <div class="main-navigation">
    <div id="nav-menu-button" (click)="show_menu()"><i class="fa fa-bars"></i></div>
    <nav class="nav-content">
      <ul class="menu hide-ul ">
        <li class="first-child" routerLink="/"><a>صفحه اصلی</a></li>
        <li class="first-child"><a>
          محصولات
          <i class="fa fa"></i>
        </a>
          <ul class="sub-menu">
            <li class="second-child" *ngFor="let cate of cat"><a routerLink="products/{{cate.id}}">{{cate.title}}</a>
              <ul class="sub-menu">
                <li class="three-child" *ngFor="let item of cate.products"><a
                  routerLink="product/{{item.parentID}}">{{item.title}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="first-child"><a>درباره ما </a></li>
        <li class="first-child"><a>تماس با ما</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a>
        <img src="assets/image/logo.png">
      </a>
    </div>
  </div>
</div>
