<div class="fixed" id="menu">
  <div class="main-navigation">
    <div id="nav-menu-button" (click)="show_menu()"><i class="fa fa-bars"></i></div>
    <nav class="nav-content">
      <ul class="menu hide-ul ">
        <li class="first-child" routerLink="/"><a>صفحه اصلی</a></li>
        <li class="first-child"><a>
          <p>محصولات</p>
          <i class="fa fa-angle-down " ></i>
        </a>

          <ul class="sub-menu">
            <li class="second-child" *ngFor="let cate of cat"><a routerLink="products/{{cate.id}}">
              <p>{{cate.title}}</p>
              <i class="fa fa-angle-left "></i>
            </a>
              <ul class="sub-menu">
                <li class="three-child" *ngFor="let item of cate.products"><a
                  routerLink="product/{{item.parentID}}">{{item.title}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="first-child"><a>درباره ما </a></li>
        <li class="first-child"><a>تماس با ما</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a>
        <img src="assets/image/logo.png">
      </a>
    </div>
  </div>
</div>
