footer{
  background-color: #7CFC00;
  padding-top: 33px;
}
.footer-container{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.item{
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
padding: 20px 20px;
}
.social a{
margin-left: 10px;
}
