
<footer class="clearfix">
  <div class="">
    <div class="footer-container">
      <div class="item">
        <div class="title">
          <h2></h2>
        </div>
        <div class="line">

        </div>
        <div class="content"></div>
      </div>
      <div class="item">
        <div class="logo">
          <a routerLink="/home">
          <img src="assets/image/logo.png" style="width: 100px" height="56px">
          </a>
        </div>
        <div class="social">
          <a><i class="fa fa-instagram" style="font-size:24px"></i></a>
          <a><i class="fa fa-telegram" style="font-size:24px"></i></a>
          <a><i class="fa fa-whatsapp" style="font-size:24px"></i></a>

        </div>
      </div>
      <div class="item"></div>
    </div>
  </div>
  <div class="footer-copy"></div>
</footer>
