<!--<div class="row">-->
<!--  <div class="col-md-6 back-style">-->
<!--    <div class="pad-2 addresses">-->
<!--      <div class="address mb-30">-->
<!--        <i class="fa fa-map-marker text-primary float-right" style="font-size: 50px"></i>-->
<!--        <div class="txt-right">-->
<!--          <h5>نشانی</h5>-->
<!--          <p>تهران خیابان انقلاب خیابان بهار جنوبی برج بهار طبقه هشتم واحد 705</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="email mb-30">-->
<!--        <i class="fa fa-envelope-o text-primary float-right" style="font-size: 30px"></i>-->
<!--        <div class="txt-right">-->
<!--          <h5>ایمیل</h5>-->
<!--          <p>tasvirsazanp@yahoo.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tell mb-30">-->
<!--        <i class="fa fa-phone text-primary float-right" style='font-size:36px'></i>-->
<!--        <div class="txt-right">-->
<!--          <h5>تلفن</h5>-->
<!--          <p>021-77616124</p>-->
<!--          <p>021-77616309</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="tell mb-30">-->
<!--        <i class="fa fa-mobile-phone text-primary float-right" style="font-size: 40px"></i>-->
<!--        <div class="txt-right">-->
<!--          <h5>موبایل</h5>-->
<!--          <p>0912-3184706</p>-->
<!--          <p>0912-7276598</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-6"></div>-->
<!--</div>-->

<footer class="footer-wrapper">
<div class="widgets_wrapper">
  <div class="container">
    <div class="col-lg-4 col-md-12">

    </div>
    <div class="col-lg-4 col-md-12"></div>
    <div class="col-lg-4 col-md-12"></div>
  </div>
</div>
</footer>
