
<footer class="clearfix  w3-flat-orange">
  <div class="">
    <div class="footer-container">
      <div class="item">
        <div class="title">
          <h2></h2>
        </div>
        <div class="line">

        </div>
        <div class="content"></div>
      </div>
      <div class="item">
        <div class="logo">
          <a routerLink="/home">
          <img src="assets/image/logo.png" alt="" style="width: 100px; height:56px;color: #7FBD32">
          </a>
        </div>
        <div class="social">
          <a><i class="fa fa-instagram" style="font-size:24px;color: #EA1F2D"></i></a>
          <a><i class="fa fa-telegram" style="font-size:24px;color: #2369B8"></i></a>
          <a><i class="fa fa-whatsapp" style="font-size:24px;color: #7FBD32"></i></a>

        </div>
      </div>
      <div class="item">
        <div class="call-me">
          <h3>تماس با ما</h3>
          <div class="address">
            <span>خیابان انقلاب خیابان بهار جنوبی برج بهار طبقه 8 واحد 705</span>
            <i class="fa fa-map-marker" style="font-size:24px;color: #2369B8"></i>
          </div>
          <div class="mobile">
            <span>0912-3184706</span>
            <span>0912-7276598</span>
            <i class="fa fa-mobile-phone" style="font-size:24px;color: #B84014"></i>
          </div>
          <div class="tell">
            <span>021-77616124</span>
            <i class="fa fa-phone" style="font-size:24px;color: #7FBD32"></i>
          </div>
          <div class="tell">
            <span>021-77616853</span>
            <i class='fa fa-fax' style='font-size:24px;color: #AE0D7A'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">تمامی حقوق برای تصویر سازان © محفوظ است. 1399</div>
</footer>
